{% extends 'base_layout.html' %}
{% load static %}

{% block wclist %}

  <div class="container">

    <form action="" method="POST">
      <div class="input-field" style="width: 65%; padding: 0; display: inline-block;">
        <select class="left">
          {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
          {% endfor %}
        </select>
      </div>
      <button class="btn-large red lighten-2 right" style="position: relative; top: 15px;" value="submit">
        <i class="material-icons">search</i>
      </button>
    </form>

  </div>

  <div class="row" style="position: relative; top: 10px;">
    {% for toilet in toilets %}
      <div class="col s12 m6 l4 toilet" style="background: #e57373; border-radius: 20px; height: 125px; margin-top: 15px; border: 5px solid white; cursor: pointer;">
        <img src="{% static 'tissue-paper.svg' %}" style="width: 70px; margin-top: 20px;">
        <div class="info" style="float: right;">
          <h4 class="white-text" style="padding: 0px;">{{ toilet.reference }}</h4>
          <p class="grey-text text-lighten-4" style="float: right;">{{ toilet.street }} {{ toilet.number }}, {{ toilet.city }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}