{% extends 'base_layout.html' %}
{% load static %}

{% block wclist %}

  <div class="container">

    <div class="row toilets-container">
      {% for toilet in toilets %}
        <div class="col s12 m6 l4 toilet">
          <div class="card">
            <div class="card-content">
              <div class="card-title">
                <h1 class="red-text text-lighten-2">{{ toilet.street.capitalize }} {% if toilet.number %} {{ toilet.number }} {% endif %}</h1>
              </div>
              {{ toilet.map | safe }}
              <div class="card-action row">
                <a href="/toilets/delete-toilet/?id={{ toilet.id }}&city={{ toilet.city }}" class="col s2">
                  <i class="material-icons red-text text-lighten-2">delete</i>
                </a>
                <a href="/toilets/edit-toilet/?id={{ toilet.id }}&city={{ toilet.city }}&street={{ toilet.street }}&number={{ toilet.number }}&price_in_EUR={{ toilet.price_in_EUR }}&cleaned={{ toilet.cleaned }}&wheelchair_accessible={{ toilet.wheelchair_accessible }}" class="col s2">
                  <i class="material-icons red-text text-lighten-2">edit</i>
                </a>

                <!--<div class="info-wrapper col s6">-->
                  <h2 class="red-text text-lighten-2 col s2 push-s1">€{{ toilet.price_in_EUR }}</h2>
                  {% if toilet.cleaned == 'Yes' %}
                    <i class="material-icons red-text text-lighten-2 col s2 push-s1">star_outline</i>
                  {% endif %}
                  {% if toilet.wheelchair_accessible == 'Yes' %}
                    <i class="material-icons red-text text-lighten-2 col s2 push-s1">accessible</i>
                  {% endif %}
                <!--</div>-->

              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

</div>

{% endblock %}