{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>WC APP</title>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="nav-wrapper red-lighten-2">
      <div class="container"> 
        <a href="/" class="brand-logo">Find a toilet</a> 
        <a href="#" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a> 
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/toilets/add-toilet">Add Toilet</a></li>
          <li><a href="">Signup</a></li>
          <li><a href="">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
    
  <ul class="sidenav" id="mobile-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/toilets/add-toilet">Add Toilet</a></li>
    <li><a href="">Signup</a></li>
    <li><a href="">Login</a></li>
  </ul>
  {% block wclist %}
  {% endblock %}

  {% block addtoilet %}
  {% endblock %}

  {% block toiletadded %}
  {% endblock %}
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script> 
    document.addEventListener('DOMContentLoaded', () => { 
      const sidenav = document.querySelector('.sidenav'); 
      M.Sidenav.init(sidenav, {edge:'left'}); 
    })

    document.addEventListener('DOMContentLoaded', function() {
      let elems = document.querySelectorAll('select');
      let instances = M.FormSelect.init(elems);
    });
  </script>
</body>
</html>