{% extends 'base_layout.html' %}
{% load static %}

{% block wclist %}

  <div class="container cities-container">

    <h1 class="center-align red-text text-lighten-2">Choose your city</h1>

    <div class="cities center-align">
      <div class="row">
        {% for city in cities %}
          <div class="col s6 m4 l3">
            <a href="/toilet-list/?city={{ city }}">
              <button class="btn-large">{{ city }}</button>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

{% endblock %}